<mtapp:setting id="og_image_default_path" label="デフォルト PATH">
    <input type="text" name="og_image_default_path" id="og_image_default_path" value="<mt:GetVar name='og_image_default_path'>" />
</mtapp:setting>
<mtapp:setting id="og_image_min_size" label="最小サイズ">
    <input type="text" name="og_image_min_size" id="og_image_min_size" value="<mt:GetVar name='og_image_min_size'>" />
</mtapp:setting>
